* {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  background-color: lightblue;
}

h1 {
  color: blue;
  display: flex;
  justify-content: center;
}

.Set {
  display: flex;
  justify-content: center;
  border-color: red;
  background-color: lightcoral;
  width: 50%;
}
